<table class="table">
  <thead>
    <tr>
      <td class="icon"><i class="icofont icofont-industries-alt-4"></i></td>
      <th scope="col" class="color-cell">No of Machines</th>
      <th scope="col"class="color-cell">{{commonData[0].description}} </th>
      <td class="icon"><i class="icon-package"></i></td>
      <th scope="col"class="color-date">On date Prodn.</th>
      <th scope="col"class="color-date">{{commonData[1].description}} </th>
      <td class="icon"><i class="icofont icofont-vehicle-delivery-van "></i></td>
      <th scope="col" class="color-dept"> On Date Otherdepts prodn</th>
      <th scope="col" class="color-dept">{{commonData[2].description}} </th>
      <td class="icon"><i class="icofont icofont-recycle-alt"></i></td>
      <th scope="col" class="color-waste"> On Date Waste%</th>
      <th scope="col" class="color-waste">{{commonData[2].description}} </th>
      <td class="icon"><i class="fa fa-file-text-o "></i></td>
      <th scope="col"class="color-rg">UTD RG1 Prodn </th>
      <th scope="col" class="color-rg">{{commonData[3].description}} </th>
      <td></td>
      <!-- <td class="icon"><i class="fa fa-check"></i></td> -->
      <th scope="col"class="color-count">On Date Avg Count</th>
      <th scope="col" class="color-count">{{commonData[4].description}} </th>
      <td class="icon"><i class="icon-dashboard"></i></td>
      <th scope="col"class="color-eff"> On date Util./eff.%</th>
      <th scope="col" class="color-eff">{{commonData[5].description}} </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td class="color-cell">No of Counts</td>
      <th scope="row"class="color-cell">{{commonData[0].data}} </th>
      <th scope="row"></th>
      <td class="color-date"> UTD Prodn </td>
      <th scope="row" class="color-date">{{commonData[1].data}}</th>
      <th scope="row"></th>
      <td class="color-dept">UTD Otherdept prodn</td>
      <th scope="row"class="color-dept">{{commonData[2].data}}</th>
      <th scope="row"></th>
      <td class="color-waste"> UTD Waste% </td>
      <th scope="row" class="color-waste">{{commonData[3].data}}</th>
      <th scope="row"></th>
      <td class="color-rg"> UTD Packed Prodn </td>
      <th scope="row"class="color-rg">{{commonData[4].data}}</th>
      <th scope="row"></th>
      <td class="color-count">UTD Avg Count</td>
      <th scope="row" class="color-count">{{commonData[5].data}}</th>
      <th scope="row"></th>
      <td class="color-eff"> UTD all Util./eff.% </td>
      <th scope="row" class="color-eff">{{commonData[6].data}}</th>
    </tr>
  </tbody>
</table>











<!-- <div class="card-group">

  <div class="card radius-10 border-start border-0 border-3 border-info" style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-2 me-2 mt-2 p-2">
            <i class="icofont icofont-industries-alt-4 size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-info" *ngIf="commonData && commonData.length>0">{{commonData[0].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 11px; margin-top: -9px;"><b>No of Machines/ No of Counts</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-danger"style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-2 me-2 mt-2 p-2">
            <i class="icon-package size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px; ">
          <h4 class="my-1 text-danger" *ngIf="commonData && commonData.length>0">{{commonData[1].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 11px; margin-top: -9px;"><b>On date Prodn./ UTD Prodn</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-success" style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness  text-white ms-2 me-2 mt-2 p-2">
            <i class="icofont icofont-vehicle-delivery-van  size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-success" *ngIf="commonData && commonData.length>0">{{commonData[2].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 10px; margin-top: -9px;"><b>On Date Otherdepts/UTD Otherdept prodn</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-warning" style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-blooker  text-white ms-2 me-2 mt-2 p-2">
            <i class="icofont icofont-recycle-alt size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-warning" *ngIf="commonData && commonData.length>0">{{commonData[3].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 11px;margin-top: -9px;"><b>On Date Waste% / UTD Waste%</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-primary" style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-pinky  text-white ms-2 me-2 mt-2 p-2">
            <i class="icon-dashboard  size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-danger" *ngIf="commonData && commonData.length>0">{{commonData[0].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 11px;margin-top: -9px;"><b>UTD RG1 Prodn/UTD Packed Prodn</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-secondary"style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-greeny  text-white ms-2 me-2 mt-2 p-2">
            <i class="icofont icofont-industries-alt-4 size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-success" *ngIf="commonData && commonData.length>0">{{commonData[5].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 10px;margin-top: -9px;"><b>On Date Avg Count/UTD Avg Count</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-end"style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-bluey  text-white ms-2 me-2 mt-2 p-2">
            <i class="icon-dashboard  size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-primary" *ngIf="commonData && commonData.length>0">{{commonData[6].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 10px; margin-top: -9px;"><b>On date Util./UTD all Util.</b></p>
      </div>
    </div>
  </div>

  <div class="card radius-10 border-start border-0 border-3 border-warning" style="width: 200px; height: 90px;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex align-items-center">
        <div style="margin-left: -20px; margin-top: -22px;">
          <div class="widgets-icons-2 rounded-circle bg-gradient-blooker  text-white ms-2 me-2 mt-2 p-2">
            <i class="icofont icofont-industries-alt-4 size-18"></i>
          </div>
        </div>
        <div style="margin-left: 12px; margin-top: -10px;">
          <h4 class="my-1 text-warning" *ngIf="commonData && commonData.length>0">{{commonData[7].description}} </h4>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0 text-secondary" style="font-weight: bolder; font-size: 11px;margin-top: -5px;"><b>On date eff ./ Upto Date Eff.</b></p>
      </div>
    </div>
  </div> -->