<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="text-center w-100">
      <h3 class="m-0">{{ name }}</h3>
    </div>
    <i
      class="icon-fullscreen"
      (click)="simpleModal(simpleContent)"
      *ngIf="!loadData"
      style="cursor: pointer"
    ></i>
    <ng-template #simpleContent let-modal>
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <div class="text-center w-100">
              <h3 class="m-0">{{ name }}</h3>
            </div>
            <i class="fa fa-times" (click)="close()"></i>
          </div>

          <div
            class="modal-body d-flex align-items-center justify-content-center flex-grow-5"
          >
            <div class="modal-body p-0">
              <apx-chart
                [series]="barChart?.series"
                [chart]="barChart?.chart"
                [dataLabels]="barChart?.dataLabels"
                [plotOptions]="barChart?.plotOptions"
                [yaxis]="barChart?.yaxis"
                [xaxis]="barChart?.xaxis"
                [legend]="barChart?.legend"
                [colors]="barChart?.colors"
                [grid]="barChart?.grid"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <loader *ngIf="loadData"></loader>
  </div>
  <div class="card-body p-0">
    <div id="basic-bar">
      <apx-chart
        [series]="barChart?.series"
        [chart]="barChart?.chart"
        [dataLabels]="barChart?.dataLabels"
        [plotOptions]="barChart?.plotOptions"
        [yaxis]="barChart?.yaxis"
        [xaxis]="barChart?.xaxis"
        [legend]="barChart?.legend"
        [colors]="barChart?.colors"
        [grid]="barChart?.grid"
      ></apx-chart>
    </div>
  </div>
</div>
