<input
    type="text"
    id="rangeCalendarTimeRight"
    class="form-control"
    style="width: 220px; height: 40px; box-shadow: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
    readonly
    
    ngxDaterangepickerBootstrap
    [(ngModel)]="selectedRangeCalendarTimeRight"
    [drops]="dropsDown"
    [opens]="'left'"
    [locale]="localeTime"
    [ranges]="ranges"
    [timePicker]="false"
    [timePickerSeconds]="false"
    [timePicker24Hour]="false"
    [showCustomRangeLabel]="true"
    [showCancel]="true"
    [linkedCalendars]="true"
    [alwaysShowCalendars]="false"
    [showRangeLabelOnInput]="false"
    [keepCalendarOpeningWithRange]="false"
    [isTooltipDate]="isTooltipDate"
    [isCustomDate]="isCustomDate"
    [isInvalidDate]="isInvalidDate"
    (datesUpdated)="datesUpdatedRange($event)"
    aria-describedby="rangeCalendarTimeRightDesc"
/>
