<div class="container-fluid">
<div class="row">
    <app-sales-purchase></app-sales-purchase>
</div>

  <!-- <div class="container-fluid crm_dashboard">
    <div class="row widget-grid">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-12">
            <div class="col-xl-12">
              <app-common-analyics></app-common-analyics>
            </div>
          </div>
        </div>
      </div>-->
    </div> 

    <div class="container-fluid dashboard_default">
      <div class="row widget-grid">
        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Stock Chart"></app-sales-summary>
        </div>
        
        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Pending Order" ></app-sales-summary>
        </div>

        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="RM Receipt"></app-sales-summary>
        </div>

        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Mixwise Consumption"></app-sales-summary>
        </div>

        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Top 10 Suppliers"></app-sales-summary>
        </div>

        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Value in Lakhs"></app-sales-summary>
        </div>

        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Avg. Consumption Bales/Day"></app-sales-summary>
        </div>

        
      </div> 
    </div>