<div class="row">
</div>
<div class="container-fluid">
  <app-sales-purchase></app-sales-purchase>

  <!-- <div class="container-fluid crm_dashboard">
    <div class="row widget-grid">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-12">
            <div class="col-xl-12">
              <app-common-analyics></app-common-analyics>
            </div>
          </div>
        </div>
      </div>-->
</div>

    <div class="container-fluid dashboard_default">
      <div class="row widget-grid">
        <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary name="Stock Chart"></app-sales-summary>
        </div>

       <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
          <app-sales-summary1 name="Pending Order"></app-sales-summary1>
       </div>

    <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
      <app-rmreceipt name="RM Receipt"></app-rmreceipt>
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
      <app-mixwise name="Mixwise Consumption"></app-mixwise>
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
      <app-topsuppliers name="Top 10 Suppliers"></app-topsuppliers>
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
      <app-values name="Value in Lakhs"></app-values>
    </div>

    <div class="col-xl-4 col-lg-3 col-sm-12 box-col-4">
      <app-consumption name="Avg. Consumption Bales/Day"></app-consumption>
    </div>
  </div>
</div>
