<div class="row">
    <div class="container-fluid">
      <app-topcardscv></app-topcardscv>
    </div>
  
  <div class="container-fluid dashboard_default">
    <div class="row widget-grid">
  
      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-rg1cv name="RG1 Stocks"></app-rg1cv>
      </div>
  
      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-varietyprodncv name="Cotton"></app-varietyprodncv>
      </div>
      
      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-countprodncv name="Count Wise Production"></app-countprodncv>
      </div>
  
      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteffcv name="Count Wise Efficiency %"></app-counteffcv>
      </div>
  
      
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 box-col-4">
        <app-machineprodncv name="Autoconer Machine Wise Production"></app-machineprodncv>
      </div>
  
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 box-col-4">
        <app-machineutilcv name="Machine Wise Utilisation %"></app-machineutilcv>
      </div>
      
    </div>
  </div>
  </div>
  
  