<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="m-0">{{name}}</h3>
    <loader *ngIf="loadData"></loader>
  </div>
  <div class="card-body p-0">
    <apx-chart *ngIf="columnChart" [chart]="columnChart?.chart" [plotOptions]="columnChart?.plotOptions"
      [dataLabels]="columnChart?.dataLabels" [stroke]="columnChart?.stroke" [series]="columnChart?.series"
      [xaxis]="columnChart?.xaxis" [yaxis]="columnChart?.yaxis" [fill]="columnChart?.fill"
      [tooltip]="columnChart?.tooltip" [colors]="columnChart?.colors">
    </apx-chart>
 </div>
</div>