<div class="row">
    <div class="container-fluid">
      <app-topcards></app-topcards>
    </div>

  <div class="container-fluid dashboard_default">
    <div class="row widget-grid">

      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteff name="Autoconer Machine Wise Production"></app-counteff>
      </div>

      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteff name="Count Wise Production"></app-counteff>
      </div>

      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteff name="Cotton"></app-counteff>
      </div>

      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteff name="Machine Wise Utilisation %"></app-counteff>
      </div>

      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteff name="Count Wise Efficiency %"></app-counteff>
      </div>

      <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
        <app-counteff name="RG1 Stocks"></app-counteff>
      </div>
      
    </div>
  </div>
</div>

