<div class="card">
  <div class="card-header pb-0">
    <h3>{{name}}</h3>
  </div>
  <div class="card-body">
    <div class="ct-10 flot-chart-container">
      <apx-chart
      [series]="barChart.series"
      [chart]="barChart.chart"
      [dataLabels]="barChart.dataLabels"
      [plotOptions]="barChart.plotOptions"
      [responsive]="barChart.responsive"
      [xaxis]="barChart.xaxis"
      [legend]="barChart.legend"
      [fill]="barChart.fill"
      [colors]="barChart.colors"
    ></apx-chart>      </div>
  </div>
</div>
