<div class="container-fluid">


    <div class="row">
    
    
        <app-sales-purchasecv></app-sales-purchasecv>
    </div>
    
        <div class="row widget-grid">
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-sales-summarycv name="Stock Chart"></app-sales-summarycv>
          </div>
    
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-sales-summary1cv name="Pending Order"></app-sales-summary1cv>
          </div>
    
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-rmreceiptcv name="RM Receipt"></app-rmreceiptcv>
          </div>
    
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-mixwisecv name="Mixwise Consumption"></app-mixwisecv>
          </div>
    
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-topsupplierscv name="Top 10 Suppliers"></app-topsupplierscv>
          </div>
    
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-valuescv name="Value in Lakhs"></app-valuescv>
          </div>
    
          <div class="col-xl-6 col-lg-6 col-sm-12 box-col-4">
            <app-consumptioncv name="Avg. Consumption Bales/Day"></app-consumptioncv>
          </div>
        </div>
      </div>
    
    
    