<div class="card customer-chart">
  <div class="card-header pb-0">
    <div class="header-top">
      <h3 class="m-0">{{name}}</h3>
      
      <i class="icon-fullscreen" (click)="simpleModal(simpleContent)" *ngIf="!loadData" style="cursor: pointer;"></i> 
           <ng-template #simpleContent let-modal>
          
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="myFullLargeModalLabel">{{name}}</h2>
              <button class="btn-close py-0" type="button" (click)="modal.dismiss('Cross click')"></button>
            </div>

            <div class="modal-body d-flex align-items-center justify-content-center flex-grow-5">
              <div class="modal-body p-0">

                <ngx-gauge [type]="gaugeChart?.gaugeType" 
                [value]="gaugeChart?.gaugeValue" 
                [label]="gaugeChart?.gaugeLabel"  
                >
           </ngx-gauge>
          </div>
        </div>
      </div>
    </div>
        </ng-template>      
      <div class="card-header-right">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="Incomechrt">

      <ngx-gauge [type]="gaugeChart?.gaugeType" 
           [value]="gaugeChart?.gaugeValue" 
           [label]="gaugeChart?.gaugeLabel"  
           >
      </ngx-gauge>
      </div>
      </div>
</div>