<div class="row"> 
  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div style="text-align: right">
                <h3 class="mb-1" class="txt-warning fw-bold text-center">178,098</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3">
        <div class="d-flex align-items-center text-center">
          <div class="icofont icofont-cloud" style="font-size: 24px"></div>
          <h4 style="margin-left: 10px; font-size: 15px">No. of variety</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div>
                <h3 class="mb-1" class="txt-primary fw-bold">3053</h3>
               
              </div>
            </li>
            <li>
              <div>
                <h3 class="mb-1" class="txt-secondary fw-bold">1050.96</h3>
                
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3">
        <div class="d-flex align-items-center">
          <div class="icofont icofont-scroll-bubble-right" style="font-size: 24px"></div>

          <h4 style="margin-left: 10px; font-size: 15px">Opening Stock</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div>
                <h3 class="mb-1" class="txt-primary fw-bold">1471</h3>
                <span class="font-primary d-flex align-items-center"></span>
              </div>
            </li>
            <li>
              <div>
                <h3 class="mb-1" class="txt-secondary fw-bold">539.86</h3>
                <span class="font-danger d-flex align-items-center"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3">
        <div class="d-flex align-items-center">
          <div class="icon-receipt" style="font-size: 24px"></div>

          <h4 style="margin-left: 20px; font-size: 15px">Receipt</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div>
                <h3 class="mb-1" class="txt-primary fw-bold">0</h3>
                <span class="font-primary d-flex align-items-center"></span>
              </div>
            </li>
            <li>

              <div>
                <h3 class="mb-1" class="txt-secondary fw-bold">0</h3>
                <span class="font-danger d-flex align-items-center"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3" style="width: 14%">
        <div class="d-flex align-items-center text-nowrap">
          <div class="icofont icofont-scroll-bubble-right" style="font-size: 24px"></div>

          <h4 style="margin-left: 20px; font-size: 15px">SR-Return</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div>
                <h3 class="mb-1" class="txt-primary fw-bold">2147</h3>
                <span class="font-primary d-flex align-items-center"></span>
              </div>
            </li>
            <li>

              <div>
                <h3 class="mb-1" class="txt-secondary fw-bold">782.81</h3>
                <span class="font-danger d-flex align-items-center"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3" style="width: 14%">
        <div class="d-flex align-items-center">
          <div class="icon-share" style="font-size: 24px"></div>

          <h4 style="margin-left: 20px; font-size: 15px">Issue</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div>
                <h3 class="mb-1" class="txt-primary fw-bold">0</h3>
                <span class="font-primary d-flex align-items-center"></span>
              </div>
            </li>
            <li>

              <div>
                <h3 class="mb-1" class="txt-secondary fw-bold">0</h3>
                <span class="font-danger d-flex align-items-center"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3">
        <div class="d-flex align-items-center">
          <div class="icon-share-alt" style="font-size: 24px"></div>

          <h4 style="margin-left: 10px; font-size: 15px">Issue Return</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-2 col-sm-4">
    <div class="card">
      <div class="card-header card-no-border pb-0">
        <div class="header-top">
          <ul class="user-list">
            <li>
              <div>
                <h3 class="mb-1" class="txt-primary fw-bold">2377</h3>
                <span class="font-primary d-flex align-items-center"></span>
              </div>
            </li>
            <li>

              <div>
                <h3 class="mb-1" class="txt-secondary fw-bold">808.31</h3>
                <span class="font-danger d-flex align-items-center"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body py-lg-3">
        <div class="d-flex align-items-center">
          <div class="icofont icofont-scroll-bubble-left" style="font-size: 24px"></div>

          <h4 style="margin-left: 10px; font-size: 15px">Closing Stock</h4>
        </div>
      </div>
    </div>
  </div>
</div>  




