<div class="row">
  @for(item of commonData; track item){
  <div class=" col-6 col-sm-6 col-xl-3 col-lg-4 box-col-6">
    <div class="card widget-1">
      <div class="card-body">
        <div class="widget-content">
          <div class="widget-round {{item.color}}">
            <div class="bg-round stroke-icon svg-fill">
              <svg>
                <use attr.xlink:href="../assets/svg/icon-sprite.svg#{{item.icon}}"></use>
              </svg>

              <svg *ngIf="item.showAlertTriangle" xmlns="http://www.w3.org/2000/svg" style=" color: rgb(235, 81, 20);  position: relative; left: -10px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle" >
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12" y2="17"></line>
              </svg>
          
              <div [ngClass]="item.symbol" [style]="item.style" ></div>
            

        
              <svg class="half-circle svg-fill">
                <use href="assets/svg/icon-sprite.svg#halfcircle"></use>
              </svg>
            </div>
          </div>
          <div>
            <h3>{{item.num}}</h3><span class="f-light">{{item.title}}</span>
          </div>
       
      </div>
    </div>
  </div>
  </div>
}
  
  </div>
  
  