

.dropdown-menu {
    display: none; 
  }
  

 
.dropdown:hover .dropdown-menu {
  display: block; 
}

/* Add this CSS to your stylesheet */
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #007bff; /* Default dark color */
  color: #fff; /* Default light text color */
}

/* Dark mode styles */
.dark-mode .dropdown-item:hover,
.dark-mode .dropdown-item:focus {
  background-color:white; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

