<div class="d-flex align-items-center">
  <div class="flex-grow-1">
    <a [routerLink]="'/pages/rmi-dashboard'">
      <span>RMI DashBoard</span>
    </a>
  </div>
  <div class="flex-grow-2">
    <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
  </div>
  <div class="flex-grow-2">
    <a [routerLink]="'pages/rmi-dashboard'">
      <span>Service Board</span>
    </a>
  </div>
  <div class="flex-grow-3">
    <div><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
  </div>
</div>

  

