<div class="d-flex align-items-center">
  <div class="flex-grow-1">
    <a [routerLink]="'/pages/rmi-dashboard'">
      <span>RMI DashBoard</span>
    </a>
  </div>
  <div class="flex-grow-2">
    <div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
  </div>
  <div class="flex-grow-2">
    <a [routerLink]="'pages/rmi-dashboard'">
      <span>Service Board</span>
    </a>
  </div>
  <div class="flex-grow-3">
    <div><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
  </div>
  <div class="flex-grow-3">
    <div class="select2-drpdwn-product select-options d-inline-block">
      <select class="form-control btn-square" name="select">
        <option value="opt1">Today</option>
        <option value="opt2">Yesterday</option>
        <option value="opt3">Last Week</option>
      </select>
    </div>
  </div>
</div>
