<div [ngClass]="navService.isDisplay ? 'page-header close_icon' : 'page-header'" [class.sidebar-default]="navService.isShow == true">
  <div class="header-wrapper row m-0">
    <div class="logo-wrapper">
      <a [routerLink]="'/dashboard/default'"><img class="img-fluid" src="assets/images/logo/logo-kal.png" alt="" /></a>
    </div>

    <div class="col-auto p-0">
      <app-dashmenu></app-dashmenu>
    </div>
    
    

  <div class="nav-right col-auto pull-right right-header p-0 ms-auto">
    
     
      <ul class="nav-menus" [class.open]="open">
      <div>
        <app-date></app-date>
      </div>
       
        <li>
          <app-theme></app-theme>
        </li>
      
      </ul>
    </div>
  </div>
</div>

